@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Poppins', sans-serif;
  color: rgb(58, 63, 68);
}

body{
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #E8F1F6;
}

h2{
  color: #2E669A;
}
  
  ul{
  display: flex;
  flex-direction: column;
  margin: auto 30px;
  width: 80%;
}
 
ul li{
  list-style: none;
  font-size: 1.1em;
  font-weight: 400;
  align-items: center;
  justify-content: center;
}

ol li{
  font-size: 1.1em;
}

.comment{
  border-bottom: 2px #2E669A solid ;
  width: auto;
}

.important{
  color: #2E669A;
  margin: auto 0;
}

p{
  font-size: 1.2em;
  font-weight: 500;
}

.top{
  background-color: #d0e4eb;
  height: auto;
  margin: 0;

  h1{
  margin: 10px auto 0 auto;
  border-radius: 5px;
  height: 55px;
  text-transform: uppercase;
  border-bottom: 2px #2E669A solid;
  text-align: center;
  vertical-align: middle;
  padding-top: 30px;
  font-size: 1.6em;;
  width: 90%;
  font-weight: 800;
  color: #2E669A;
}

/*en tete de toutes les pages*/
.logo{
  color: rgb(27, 27, 44);
  background-color: rgb(187, 200, 230);
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px  rgb(43, 54, 65);
  font-size: medium;
  font-style: italic;
  text-transform: uppercase;
  margin: 20px auto 20px auto;
  cursor: pointer;
}

.logo:hover{
  color: #2E669A;
  background-color: white;
}
}

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  background: rgba(138, 183, 212, 0.2);
}

.header{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
} 

.header__up{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

.header__up__text{
  img{
    width: 380px;
    height: 330px;
    margin: 40px auto;
    border-radius: 30px;
    box-shadow: #76acdf;
  }
  ul{
    margin: 20px auto auto 100px ;
    text-align: left;

li{
    margin: 5px auto auto 0;
    display: flex;
    flex-direction: row;

    i{
        color: green;
        font-size: 1.3em;
    }
}
  }

p{
    margin:auto 10px;
}
}
}

.header__bottom{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 20px auto;
}

.header__bottom__title{
    font-size: 2em;
    margin: 40px auto;
}

.header__bottom__list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 10px auto 10px auto;

  .logos{
    width: 130px;
    height: 130px;
    border-radius: 30px;
  }
}

/*slider*/
.slider{
  margin: 0 auto;
  height: 480px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  padding-top: 50px;

      &__section{  
          width: 250px;
          background-color: white;
          height: 400px;
          border-radius: 15px;
          padding-top: 10px;
          display: flex;
          flex-direction: column;
          margin: auto 20px auto 20px;
          text-align: justify;
          padding-top: 5px;
          text-align: center;
          box-shadow: 2px 2px 2px 2px  rgb(43, 54, 65);

          h3{
              color: #2E669A;
              width: 80%;
              font-size: 1.3em;
              margin: 10px auto;
              border-bottom: 5px rgb(186, 196, 241) solid;            
          }
          
          p{
            text-align: left;
              width: 80%;
              margin: auto;
          }

          img {
             height: 100px;
             width: 100px;
              margin: auto auto 5px auto;
          }

          img:last-child{
            height: 110px;
            width: 110px;
          }
      }
}

/*main*/
.main{
  display: flex;
  flex-direction: row;
  margin: 20px auto;

  &__box{
      margin: 0 20px auto 20px;
      flex: 1;
      border-radius: 30px;
      border: 1px #2E669A solid;
      overflow: hidden; 
      height: 680px;
      text-align: center; 
              
          h3{
              color: #2E669A;
              margin: 10px auto 20px auto;
              text-transform: uppercase;
              font-size: 1.1em;
              border-bottom: 1px #2E669A solid;
              width: 100%;
              height: 60px;
              padding-top: 5px;
          }

          ul li{
            font-size: 1.2em;
          }

          img{
              width: 380px;
              height: 280px;
              border-radius: 30px;
              bottom: 10px;
              margin: 40px auto 40px auto;
          }
          
          p{
              width: 90%;
              margin: 5px auto;
              text-align: justify;
          }

          ul{
              margin: 10px auto;
              text-align: left;
          }

          li{
              margin: 5px auto;
              display: inline;
              font-size: 1em;
              font-weight: 500;
          }

          i{
              margin: auto 5px;
              color: #2E669A;
              font-size: 1.1em;
          }      
  }
}

/*content*/
.content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  height: 650px;
  margin: auto;
  margin: auto;

  &__text{
      box-shadow: 0px 0px 20px 20px #00000020;
      background-color: aliceblue;
      border-radius: 15px;
      width: 450px;
      height: 450px;
      margin:  auto;

      &__title{
          color: #2E669A;
          font-size: 1.8em;
          font-weight: bold;
          margin: 20px auto 0 auto ; 
      } 
      
      h3{
          width: 90%;
          margin: 20px auto;
          font-weight: bold;
          text-align: left;
          text-transform: uppercase;
      }

      ol{
          margin: 10px auto auto 50px;

          li{
           margin: 10px auto auto 0;
           cursor: pointer; 
           text-align: left;
          }

          li:hover{
              color: #2E669A;
              border-bottom: 1px solid #2E669A;
          }
      }

      .link-btn{
          width: 250px;
          font-size: 18px;
          height: 60px;
          background-color: #2181BE;
          color: white;
          box-shadow: 2px 2px 1px 1px rgb(114, 176, 235);
          margin: 50px auto;
          cursor: pointer;
          border: none;
          border-radius: 5px;
          font-family: 'Helvetica Neue';
          text-transform: uppercase;
      }

      .link-btn:hover{              
          background-color: #2E669A;
          font-weight: bold;
      }         
  } 
  
  img{
    width: 450px;
    height: 450px;
    margin: auto 0 auto auto;
    border-radius: 15px;
  }
}

/*testmonies*/
.testimonies{
  display: block;
  
  h3{
    text-transform: uppercase;
    margin: 30px auto;
    color: #2E669A;
    font-size: 1.8em;
    font-weight: bold;
  }

  &__boxes{
    display: flex;
    flex-direction: row;

    section{
      width: 330px;
      margin: 0 auto 40px auto;
      text-align: left;
     
      p{
        margin: 0 auto;
      }
    }
  }
}

/*footer*/
.footer{
  margin: 0 auto 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 200px;
  background-color: rgb(114, 176, 235);
  font-size: 1.2em;
  color: white;

      &__text{
      float: left;
      text-transform: uppercase;
      font-size: 0.9em;
      color: black;
      font-weight: bold;
      cursor: pointer;
      margin: 50px auto auto 30px;
      }

      &__text:hover{
        color: white;
      }

      &__bouton{
        display: block;
        width: 60%;
        background-color: rgb(114, 176, 235);
        border: none;
        text-align: center;
        
        p{
          width: 100%;
          color: black;
          font-size: 1em;
          margin: 20px auto 0 auto;
          text-transform: uppercase;
          font-weight: 400;
        }
        
        .footer-btn-link{
          color: white;
        
        .footer-btn{
        width: 200px;
        font-size: 18px;
        height: 60px;
        background-color: #2181BE;
        color: white;
        box-shadow: 2px 2px 1px 1px rgb(114, 176, 235);
        cursor: pointer;
        border: none;
        border-radius: 5px;
        font-family: 'Helvetica Neue';
        text-transform: uppercase;
        margin-top: 0;
          }

          .footer-btn:hover{
            background-color: #2E669A;
            font-weight: bold;
          }
        
      }
    }

      &__disclaimer{
          float: right;
          cursor: pointer;
          margin: 70px 30px auto auto;

          a{
            font-weight: bold;
            text-transform: uppercase;
            color: black
          }

          a:hover{
            color: white;
          }
        }
}

/*page mentions*/
.mentions-container{
  width: 80%;
  margin:100px auto;
  text-align: left;
  
  .mentions-title{
    font-size: 1.2em;
    margin: 10px auto;
    text-align: left;
    
    .mentions-text{
      text-align: left;
      width: 80%;
    }
  }
}

/*page de remerciements*/
.thanks-section{
  margin: 100px auto;
  width: 80%;
  height: auto;

  a{
    color: #2E669A;
    margin: 30px auto;
  }

}

@media screen and (min-width: 1280px) and (max-width: 1440px){
  .main__box{
    height: 720px;

    img{
      width: 350px;
    }
  }

  /*page de remerciements*/
.thanks-container{
  margin: 0  0 200px auto;
  width: 100%;
  height: 100vh;

}

  /*page mentions*/
  .mentions-container{
    height: 100%;
    margin: 0 auto 0 auto;
    width: 80%;
    padding-top: 50px;
    padding-left: 50px;
}
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
  body{
      width: 100%;  
      
        .header{
          flex-direction: column;
          width: 100%;
          margin: auto 0 auto 0;

          &__up{
            display: flex;
            flex-direction: column-reverse;
            height: auto;

            &__text{
              margin: auto;
              text-align: center;

              ul{
                margin: 10px auto 0 auto;
              }
            }
          
            .formulaire{
            height: auto;
            min-height: auto;
            overflow: hidden;
            margin: 50px auto;

            .container-form{
              height: auto;
              min-height: auto;
              overflow: hidden;
            }

            select{
              height: 100px;
            }
            }
          }    
          
          &__bottom h2{
            margin-top: 20px;
          } 
        } 

        .container{
          width: 100%;
          margin: auto;

          .slider{
            width: 100%;
          }

            .content{
          width: 90%;
          height: 550px;
          margin: auto auto 20px auto;
            }

            .main{
          &__box{
            margin: auto 10px auto 10px;
            height: 850px;
          }
            }

            .testimonies{
          &__boxes{
            section{
              width: 310px;
            }
          }
            }

            .foooter{
              height: auto;

              .footer__bouton{
                width: 50%;
              }
            }
        }
  }

   /*page remerciements*/
   .thanks-container{
    height: 70%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  body{
      width: 100%;
      margin: auto; 

       .top{
         height: auto;

        h1{
          height: 80px;
        } 
       }

       .header{
        flex-direction: column;
        width: 100%;
        margin: auto 0 auto 0;

        &__up{
          display: flex;
          flex-direction: column-reverse;
          height: auto;

          &__text{
            margin: auto;
            text-align: center;

            &__image{
              width: 500px;
            }

            ul{
              margin: 10px auto 0 auto;
            }
          }
        
          .formulaire{
          height: auto;
          min-height: auto;
          overflow: hidden;
          margin: 50px auto;

          .container-form{
            height: auto;
            min-height: auto;
            overflow: hidden;
          }

          select{
            height: 100px;
          }
          }
        }    
        
        &__bottom h2{
          margin-top: 20px;

          &__list{
            .logo{
              margin-top: 5px;
            }
          }
        } 
      } 
          
        .container{  
        .slider{
          flex-direction: column;
          height: 1250px;
          text-align: center;
          margin: 10px auto 20px auto;

          &__section{
            width: 300px;
            margin: 10px auto;
            height: 380px;

            p{
              text-align: left;
              margin: auto;
            }

            i{
              margin: auto auto 5px auto;
            }
          }

        }

        .content{
          flex-direction: column-reverse;
          height: 900px;

          img{
            margin: 50px auto;
            width: 500px;
            height: 350px;
          }

          &__text{
            margin: auto;
            width: 500px;
          }
        }

        .main{
          flex-direction: column;

          &__box{
            width: 80%;
            margin: 20px auto;
            }

            img{
              width: 400px;
            }
        }

        .testimonies{
          flex-direction: column;

          &__boxes{
            flex-direction: column;
            margin: 20px auto;
            
            section{
              margin: 15px auto auto 50px;

              p{
                width: 600px;
              margin: auto 30px;
              }
            }
          }
        }

        .footer{
          flex-direction: column;
          height: 400px;

          &__text {
            margin: auto  auto 30px auto;
          }

          &__bouton{
            width: 80%;
            margin: auto auto 0 auto;

            .footer-btn-link{
              margin: auto;
             

            .footer-btn{
              margin: auto;
            }
            }
          }

          &__disclaimer{
            margin: 30px auto;
             }
        }
        }
    }

   /*page remerciements*/
   .thanks-container{
    height: 70%;
  }

  /*page mentions*/
.mentions-container{
  width: 80%;
  margin:100px auto 50px auto;
  text-align: left;
  height: 70%;
  
  .mentions-title{
    font-size: 1.2em;
    margin: 10px auto;
    text-align: left;
    
    .mentions-text{
      text-align: left;
      width: 80%;
      margin: 20px auto 50px auto;
    }
  }
}
}

@media screen and (min-width: 350px) and (max-width: 767px){
  body{
    width: 100%;
    
    .top{
      height: auto;
      width: 100%;

    h1{
      width: 100%;
      font-size: 1.1em;
      justify-content: center;
      align-items: center;
      padding-bottom: 40px;
      margin: 0
    }    
    }

    ul{
      width: 80%;
      margin: auto;
    }

    ul li{
      width: 80%;
      margin: auto;
    }


    .header{
      flex-direction: column;
      width: 100%;
      margin: auto 0 auto 0;

      &__up{
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        width: 100%;

        &__text{
          margin: auto;
          text-align: left;
          
          img{
            width: 280px;
            margin: auto;
          }

          ul{
            width: 80%;
            margin: auto 5px;
            height: auto;
           
            li{
              margin: auto 5px;

              i{
                margin: auto 5px;
            }

              p{
                margin: auto 5px;color: black;
                font-size: 1em;
              }

            }
          }
        }
      
        .formulaire{
        height: auto;
        min-height: auto;
        overflow: hidden;
        margin: 20px auto;
        width: 400px;

        .container-form{
          height: auto;
          min-height: auto;
          overflow: hidden;
          width: 100%;
          margin: 0;
        }

        input{
          width: 200px;
        }

        .form-outer{
          width: 100%;
          margin: 0;
        }

        .form-title{
          font-size: 1.2em;
        }

        input{
          width: 150px;
        }
        }
      }        
      &__bottom{
        h2{
          margin-top: 20px;
          font-size: 2em;
        } 

        &__list{
          flex-direction: column;
          height: auto;
          margin: 0 auto;

          img{
            width: 100px;
            height: 100px;
            margin: 15px auto;
          }
        }
      }
    }
    
    .container{
      width: 100%;
      .slider{
        flex-direction: column;
        height: 1400px;
        margin: 10px auto;

        &__section{
          width: 300px;
          height: 400px;
          margin: 15px auto;
        }
      }

      .content{
        height: 860px;
        flex-direction: column-reverse;
        margin: 50px auto;
        width: 100%;

        img{
          margin: 50px auto;
          width: 300px;
          height: 250px;
        }

        &__text{
          margin: 15px auto;
          width: 300px;
          height: auto
        }
      }

      .main{
        flex-direction: column;
        width: 90%;
        margin: auto;

        &__box{
          margin: 20px auto;
          width: 90%;

          h3{
            width: 80%;
            margin: auto;
          }
        }
      }

      .testimonies{
        h3{
          font-size: 1.2em;
        }

        &__boxes{
          flex-direction: column;

          section{
            width: 90%;
            margin: 15px auto 30px auto;
          }
        }
      }
      
      .footer{
        flex-direction: column;
        text-align: center;
        height: auto;

        &__text{
          margin: 10px auto;
        }

        &__bouton{
            width: 90%;
            margin: 20px auto;

          p{
            margin: auto;
            width: 100%;
          }
        }

        &__disclaimer{
          margin: auto auto 20px auto;
        }

      }
    }

    /*page de remerciements*/
    .container{
      height: 100vh;
    }
    
    .thanks-section{
    margin: 150px auto;
    width: 80%;
    height: 90vh;

  a{
    color: #2E669A;
    margin: 30px auto;
  }

    }
    }
}
