@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

ul{
  display: flex;
  flex-direction: column;
  margin: auto 30px;
  width: 80%;
}
 
ul li{
  list-style: none;
  font-size: 1.1em;
  font-weight: 400;
}

ol li{
  font-size: 1.1em;
}

.comment{
  border-bottom: 2px #2E669A solid ;
  width: auto;
}

.important{
  color: #2E669A;
  margin: auto 0;
}
p{
  font-size: 1.2em;
  font-weight: 500;
}
h2{
  font-size: 0.8em;
  margin-top: 10px;
  width: 100%;
}

input{
  border: none;
}
*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Poppins', sans-serif;
}
body{
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;/*
  background: url("bg.png"), -webkit-linear-gradient(bottom, #0250c5, #d43f8d);*/

}

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  
  background: rgba(138, 183, 212, 0.2);
}

.formulaire{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  box-shadow: 0px 0px 20px 20px #00000020;
  background-color: rgba(255, 255, 255, .2);
      border-radius: 15px;
      margin: 10px auto;


::selection{
  color: #fff;
}
.container-form{
  width: 330px;
  text-align: center;
  border-radius: 30px;
  padding: 50px 35px 10px 35px;
  height: 90vh;
  float: right;

}
.container-form h2{
  font-size: 35px;
  font-weight: 600;
  margin: 0 0 30px 0;
}
.container-form .form-outer{
  width: 100%;
  overflow: hidden;
}
.container-form .form-outer form{
  display: flex;
  width: 400%;
}
.form-outer form .page{
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}
.form-outer form .page .title{
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}
.form-outer form .page .field{
  width: 330px;
  height: 45px;
  margin: 45px 0;
  display: flex;
  position: relative;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
}
form .page .field .label{
  position: absolute;
  top: -30px;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  margin: auto 0;
}
form .page .field input{
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
}
form .page .field select{
  width: 100%;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  height: 50px;
  margin: auto auto 30px auto;
}
form .page .field button{
  width: 100%;
  height: calc(100% + 5px);
  border: none;
  background: #2181BE;
  margin-top: -20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s ease;
  font-family: 'Helvetica Neue';
}

form .page .field button:hover{
  background-color: #2E669A;
  font-weight: bold;
}

form .page .btns button{
  margin-top: -20px!important;
}

form .page .btns button.prev{
  margin-right: 3px;
  font-size: 17px;
}
form .page .btns button.next{
  margin-left: 3px;
}
.container-form .progress-bar{
  display: flex;
  margin: 40px 0;
  user-select: none;
}
.container-form .progress-bar .step{
  text-align: center;
  width: 100%;
  position: relative;
}
.container-form .progress-bar .step p{
  font-weight: 500;
  font-size: 18px;
  color: #000;
  margin-bottom: 8px;
}
.progress-bar .step .bullet{
  height: 25px;
  width: 25px;
  border: 2px solid #000;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  transition: 0.2s;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
}
.progress-bar .step .bullet.active{
  border-color: rgb(114, 176, 235);
  background: rgb(114, 176, 235);
}

.progress-bar .step .bullet span{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.progress-bar .step .bullet.active span{
  display: none;
}
.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after{
  position: absolute;
  content: '';
  bottom: 11px;
  right: -51px;
  height: 3px;
  width: 44px;
  background: #262626;
}
.progress-bar .step .bullet.active:after{
  background: rgb(114, 176, 235);
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after{
  display: none;
}
.progress-bar .step p.active{
  color: #d43f8d;
  transition: 0.2s linear;
}
.progress-bar .step .check{
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
}
.progress-bar .step .check.active{
  display: block;
  color: #fff;
}}

h1{
  margin: 50px auto 0 auto;
  font-size: 1.4em;
  color: #2E669A;
  background-color: #d0e4eb;
  border-radius: 5px;
  height: 55px;
  text-transform: uppercase;
  border-bottom: 2px #2E669A solid;
  text-align: center;
  vertical-align: middle;
  padding-top: 30px;
  font-size: 1.6em;;
  width: 90%;
}

.header{
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  margin: 50px auto;/*
  background-color: #c4d4e2; */ 
} 

.header__text{
  img{
    width: 380px;
    height: 330px;
    margin: 40px auto;
    border-radius: 30px;
    box-shadow: #76acdf;
  }
 
  ul{
    margin: 20px auto auto 100px ;
    text-align: left;

li{
    margin: 5px auto auto 0;
    display: flex;
    flex-direction: row;

    i{
        color: green;
        font-size: 1.3em;
    }
}
  }

p{
    margin:auto 10px;
}
}

/*main*/
.main{
  display: flex;
  flex-direction: row;
  margin: 20px auto;

  &__box{
      margin: 0 20px auto 20px;
      flex: 1;
      border-radius: 30px;
      border: 1px #2E669A solid;
      overflow: hidden; 
      height: 700px;
      text-align: center; 
              
          h3{
              color: #2E669A;
              margin: 10px auto 20px auto;
              text-transform: uppercase;
              font-size: 1.1em;
              border-bottom: 1px #2E669A solid;
              width: 100%;
              height: 60px;
              padding-top: 5px;
          }

          img{
              width: 250px;
              height: 250px;
              border-radius: 30px;
              bottom: 10px;
              margin: 40px auto 40px auto;
          }
          
          p{
              width: 90%;
              margin: 5px auto;
              text-align: justify;
          }

          ul{
              margin: 10px auto;
              text-align: left;
          }

          li{
              margin: 5px auto;
              display: inline;
              font-size: 1em;
              font-weight: 500;
          }

          i{
              margin: auto 5px;
              color: #2E669A;
              font-size: 1.1em;
          }      
  }
}

/*content*/
.content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 700px;
  margin: auto;

  &__testimonies{
      width: 40%;
      display: flex;
      flex-direction: column;
      margin: 20px auto auto 20px;

      &__title{
          margin: 30px auto 20px auto;
          color: #2E669A;
          border-bottom:#2E669A 1px solid;
      }

      &__boxes{
          margin: auto;
          display: flex;
          flex-direction: column;
          padding-top: 0;
         
          section{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          text-align: justify;
          margin: 20px;
          
          p{
              margin: auto;
          }
          span{
              font-weight: bold;
              margin: 5px auto auto 0;
          }
      }
              ul{
                  margin: 5px auto auto 0;
              
                  li{
                  display: inline;
                  margin: auto 0;                         
                  }      
               }
               
          }
  }

  &__text{
      box-shadow: 0px 0px 20px 20px #00000020;
      background-color: aliceblue;
      border-radius: 15px;
      width: 450px;
      height: 500px;
      margin: 100px auto;

      &__title{
          color: #2E669A;
          margin: 20px auto 0 auto ;
          font-weight: bold;
          font-size: 1.8em;
      } 
      
      h3{
          width: 90%;
          margin: 20px auto;
          font-weight: bold;
      }

      ol{
          margin: 10px auto auto 50px;

          li{
           margin: 10px auto auto 0;
           cursor: pointer; 
           text-align: left;
          }

          li:hover{
              color: #2E669A;
              border-bottom: 1px solid #2E669A;
          }
      }

      .link-btn{
          width: 250px;
          font-size: 18px;
          height: 60px;
          background-color: #2181BE;
          color: white;
          box-shadow: 2px 2px 1px 1px rgb(114, 176, 235);
          margin: 50px auto;
          cursor: pointer;
          border: none;
          border-radius: 30px;
          font-family: 'Helvetica Neue';
      }

      .link-btn:hover{              
          background-color: #2E669A;
          font-weight: bold;
      }         
  }    
}

/*slider*/
.slider{
  margin: 60px auto;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  border-top: 1px black solid;
  border-bottom: 1px black solid;

      &__section{
       
          width: 250px;
          height: 350px;
          border-radius: 15px;
          padding-top: 10px;
          display: flex;
          flex-direction: column;
          margin: auto 20px auto 20px;
          text-align: justify;
          padding-top: 5px;
          text-align: center;
          box-shadow: 2px 2px 2px 2px  rgb(43, 54, 65);

          h3{
              color: black;
              width: 80%;
              font-size: 1.3em;
              margin: 10px auto;
              border-bottom: 5px black solid;
          }
          
          p{
            text-align: left;
              width: 80%;
              margin: auto;
          }

          i {
              color: black;
              font-size: 3.5em;
              text-align: center;
              margin: auto auto 5px auto;
          }
      }
}

.content{
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;

  .content__text{
    margin: auto 0;
  }

  img{
    width: 450px;
    height: 450px;
    margin: auto 0 auto auto;
    border-radius: 15px;
  }
}

.testimonies{
  display: block;

  &__boxes{
    display: flex;
    flex-direction: row;

    section{
      width: 330px;
      margin: 0 auto;
      text-align: left;
     
      p{
        margin: 0 auto;
      }
    }
  }
}

.footer{
  margin: 50px auto 10px auto;
  display: flex;
  flex-direction: row;
  width: 90%;

      &__text{
      float: left;
      text-transform: uppercase;
      font-size: 0.9em;
      }

      &__disclaimer{
          color: black;
          float: right;
          margin: auto 0 auto auto;

          a{
            color: black;
          }
        }
}

.mentions-container{
  width: 90%;
  text-align: left;
  margin: auto;
  
  .mentions-title{
    font-size: 1.2em;
    margin: 10px auto;
    
    .mentions-text{
      text-align: left;
      margin: auto 0;
      width: 80%;
    }

  }
}
/*
@media screen and (min-width: 1280px) and (max-width: 1440px){
body{
  .container{
    .header{
      .formulaire{
        min-height: auto;
        height: auto;
        overflow-y: hidden;

        .container-form{
          min-height: auto;
          overflow: hidden;
          height: auto;
        }
      }
    }
  }
}}*/

@media screen and (min-width: 1024px) and (max-width: 1279px){
  body{
      width: 100%;

      .container{
      width: 100%;
      margin: auto;
      
        .header{
          flex-direction: column-reverse;

          &__text{
            margin: auto;
            text-align: center;

            h1{
              width: 80%;
              margin: 30px auto;
            }

            ul{
              margin: 10px auto 0 auto;
            }
          }

          .formulaire{
            flex: 1;
            height: auto;
            min-height: auto;
            overflow: hidden;

            .container-form{
              height: auto;
              min-height: auto;
              overflow: hidden;
            }
          }
        }

        .content{
          width: 90%;
          height: 550px;
          margin: auto auto 20px auto;
        }

        .main{
          &__box{
            margin: auto 10px auto 10px;
            height: 700px;
          }
        }

        .testimonies{
          &__boxes{
            section{
              width: 310px;
            }
          }
        }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  body{
      width: 100%;
      margin: auto;

     .container{  
       h1{
         height: 80px;
       }  
        header{
          flex-direction: column-reverse;

            .formulaire{
                height: auto;
                min-height: auto;

                  .container-form{
                      height: auto;
                      min-height: auto;
                  }
              }

            &__text{
              margin: 0 auto;

              ul{
                margin: 0 auto;

                li{
                  margin: 10px auto;
                }
              }
            }
         }

        .slider{
          flex-direction: column;
          height: 1150px;
          text-align: center;
          margin: 10px auto 20px auto;

          &__section{
            width: 300px;
            margin: 10px auto;
            height: 350px;

            p{
              text-align: left;
              margin: auto;
            }

            i{
              margin: auto auto 5px auto;
            }
          }

        }

        .content{
          flex-direction: column-reverse;
          height: 900px;

          img{
            margin: 50px auto;
            width: 500px;
            height: 350px;
          }

          &__text{
            margin: auto;
            width: 500px;
          }
        }

        .main{
          flex-direction: column;

          &__box{
            width: 80%;
            margin: 20px auto;
            }

            img{
              width: 400px;
            }
        }

        .testimonies{
          flex-direction: column;

          &__boxes{
            flex-direction: column;
            margin: 20px auto;
            
            section{
              margin: 15px auto;
            }
          }
        }

      }
  }
}

@media screen and (min-width: 350px) and (max-width: 767px){
  body{
    width: 100%;
    
    h1{
      width: 90%;
      height: 40px;
      font-size: 1.2em;
      justify-content: center;
      align-items: center;
      padding-bottom: 40px;
      margin: auto;
    }

    .container{
      width: 100%;
     
      .header{
        flex-direction: column-reverse;
        width: 100%;


          .formulaire{
              height: auto;
              min-height: auto;
              width: 100%;
              margin: auto;

                .container-form{
                    height: auto;
                    min-height: auto;
                    width: 95%;
                    margin: auto;
                }
          }

          &__text{
            margin: 10px auto;
            img{
              width: 300px;
              height: 300px;
              margin: 30px auto;
            }

            ul{
              width: 90%;
              margin: 30px auto;
            }

            li{
              margin: 5px auto;
            }
          }
      }

      .slider{
        flex-direction: column;
        height: 1010px;
        margin: 10px auto;

        &__section{
          width: 300px;
          height: auto;
          margin: 15px auto;
        }
      }

      .content{
        height: 840px;
        flex-direction: column-reverse;
        margin: 50px auto;
        width: 100%;

        img{
          margin: 30px auto;
          width: 300px;
          height: 250px;
        }

        &__text{
          margin: 15px auto;
          width: 300px;
          height: auto
        }
      }

      .main{
        flex-direction: column;
        width: 90%;
        margin: auto;

        &__box{
          margin: 20px auto;
          width: 90%;

          h3{
            width: 80%;
            margin: auto;
          }
        }
      }

      .testimonies{
        h3{
          font-size: 1.2em;
        }

        &__boxes{
          flex-direction: column;

          section{
            width: 90%;
            margin: 15px auto;
          }
        }
      }
      
      .footer{
        flex-direction: column;
        text-align: center;

        &__disclaimer{
          margin: auto;
        }

      }
    }
  }
}
