*, body {
  margin: 0;
  box-sizing: border-box;
  line-height: 2em;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button {
  width: 150px;
  height: 50px;
  background-color: blueviolet;
  border-radius: 30px;
}

.container {
  width: 80%;
  text-align: center;
  position: relative;
  margin: auto;
  display: block;
}
.container .header {
  width: 80%;
  margin: 20px auto 20px auto;
  height: auto;
  background-color: aqua;
}
.container .header__content h1 {
  color: #09109F;
  border-bottom: 2px #09109F solid;
}
.container .header__content__text {
  color: white;
  background-color: #084B83;
  width: auto;
  height: auto;
  border: 1px #084B83 solid;
  margin: auto auto 50px auto;
}
.container .heading {
  width: 80%;
  display: block;
  height: 500px;
  flex-wrap: wrap;
  margin: 60px auto;
}
.container .heading__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}
.container .heading__content__text {
  text-align: left;
  margin: 0 auto;
}
.container .heading__content__text h2 {
  color: green;
  margin: auto;
  text-align: center;
}
.container .heading__content__image {
  width: 400px;
}
.container .heading__content__image img {
  height: 300px;
  width: 350px;
  margin: 0 auto;
  border-radius: 30px;
}
.container .heading__content__image .btn {
  margin: auto;
}
.container .main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px auto;
}
.container .main__box {
  border-bottom: 1px;
  background-color: rosybrown;
  margin: 0 20px;
  flex: 1;
  border-radius: 30px;
}
.container .main__box h3 {
  color: blue;
  margin: 10px auto;
}
.container .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 1000px;
}
.container .content__testimonies {
  width: 40%;
  display: flex;
  margin: 20px auto auto 20px;
}
.container .content__testimonies__title {
  margin: auto auto 20px auto;
  border-bottom: 1px solid blue;
}
.container .content__testimonies__boxes {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 0;
}
.container .content__testimonies__boxes section {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: honeydew;
  margin: 20px;
}
.container .content__testimonies__boxes section span {
  font-weight: bold;
  margin: 5px auto;
}
.container .content__testimonies__boxes section ul li {
  display: inline;
}
.container .content__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: grey;
  border-radius: 15px;
  width: 300px;
  text-align: left;
}
.container .content__text img {
  width: 250px;
  height: 250px;
  margin: 10px auto;
}
.container .content__text h2 {
  color: blue;
  margin: auto;
}
.container .content__text button {
  margin: auto;
}
.container .content__text span {
  width: 90%;
  margin: auto;
  font-weight: bold;
}
.container .content__text ul {
  margin: 30px auto;
  width: 80%;
}
.container .content__text ul li {
  list-style: circle;
}
.container .images {
  width: 300px;
  width: 70%;
  margin: 40px auto 15px auto;
}
.container .images img {
  width: 350px;
  height: 350px;
  margin: auto;
}
.container .images h2 {
  margin: 10px auto;
  color: blue;
}
.container .infos {
  margin: 40px auto;
}
.container .infos__section {
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container .infos__section__box {
  width: 300px;
  height: 300px;
  border: 1px solid blueviolet;
  margin: 0 auto;
}
.container .infos__section__box h3 {
  color: #6161f1;
  border-bottom: px aquamarine solid;
}
.container .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container .footer__logo {
  width: 120px;
  height: 70px;
}
.container .footer__diclaimer {
  float: right;
  color: green;
}

/*


*{
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif    ;
}

section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.container{
    width: 90%;
    max-width: 400px;
    background-color: white;
    margin: 0 auto;
    box-shadow: 0px 0px 20px 20px #00000020;
    padding: 20px;
    border-radius: 8px;
}

.step{
    display: none;
}

.step.active{
    display: block;
}

.form-group{
    width: 100%;
    margin-top: 20px
}

.form-group input{
    width: 100%;
    border: 1.5px solid rgba(128, 128, 128, 418);
    padding: 5px;
    font-size: 18px;
    margin-top: 5px;
    border-radius: 4px;
}

button.next-btn,
button.previous-btn,
button.submit-btn{
    float: right;
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: none;
    background-color: rgb(180, 220, 255);
    font-family: 'Helvetica Neue';
    font-size: 18px;
    cursor: pointer;
}

button.previous-btn{
    float: left;
}

button.submit-btn{
    background-color: aquamarine;
}
*/

/*# sourceMappingURL=style.css.map */
