@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Poppins", sans-serif;
  color: #3a3f44;
}

body {
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #E8F1F6;
}

h2 {
  color: #2E669A;
}

ul {
  display: flex;
  flex-direction: column;
  margin: auto 30px;
  width: 80%;
}

ul li {
  list-style: none;
  font-size: 1.1em;
  font-weight: 400;
  align-items: center;
  justify-content: center;
}

ol li {
  font-size: 1.1em;
}

.comment {
  border-bottom: 2px #2E669A solid;
  width: auto;
  margin: 0;
}

.important {
  color: #2E669A;
  margin: 0;
}

p {
  font-size: 1.2em;
  font-weight: 500;
}

.top {
  background-color: #d0e4eb;
  height: auto;
  margin: 0;
  /*en tete de toutes les pages*/
}
.top h1 {
  margin: 10px auto 0 auto;
  border-radius: 5px;
  height: 55px;
  text-transform: uppercase;
  border-bottom: 2px #2E669A solid;
  text-align: center;
  vertical-align: middle;
  padding-top: 30px;
  font-size: 1.6em;
  width: 90%;
  font-weight: 800;
  color: #2E669A;
}
.top .logo {
  color: #1b1b2c;
  background-color: #bbc8e6;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px #2b3641;
  font-size: medium;
  font-style: italic;
  text-transform: uppercase;
  margin: 20px auto 20px auto;
  cursor: pointer;
}
.top .logo:hover {
  color: #2E669A;
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  background: rgba(138, 183, 212, 0.2);
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
  background: url("https://images.unsplash.com/photo-1536514498073-50e69d39c6cf?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80");
}

.header__up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.header__up .header__up__text img {
  width: 380px;
  height: 330px;
  margin: 40px auto;
  border-radius: 30px;
  box-shadow: #76acdf;
}
.header__up .header__up__text ul {
  margin: 20px auto;
  text-align: left;
}
.header__up .header__up__text ul li {
  margin: 5px auto auto 0;
  display: flex;
  flex-direction: row;
}
.header__up .header__up__text ul li i {
  color: green;
  font-size: 1.3em;
}
.header__up .header__up__text p {
  margin: auto 10px;
}

.header__bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 20px auto;
}

.header__bottom__title {
  font-size: 2em;
  margin: 40px auto;
  border-bottom: 5px #2E669A solid;
}

.header__bottom__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 10px auto 10px auto;
}
.header__bottom__list .logos {
  width: 130px;
  height: 130px;
  border-radius: 30px;
}

/*slider*/
.slider {
  margin: 0 auto;
  height: 440px;
  background: #D6E6EF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  padding-top: 20px;
  padding-bottom: 20px;
}
.slider__section {
  width: 250px;
  background-color: white;
  height: 400px;
  border-radius: 15px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  margin: auto 20px auto 20px;
  text-align: justify;
  padding-top: 5px;
  text-align: center;
  box-shadow: 2px 2px 2px 2px #2b3641;
}
.slider__section h3 {
  color: #2E669A;
  width: 80%;
  font-size: 1.3em;
  margin: 10px auto;
  border-bottom: 5px #bac4f1 solid;
}
.slider__section p {
  text-align: left;
  width: 80%;
  margin: auto;
}
.slider__section img {
  height: 100px;
  width: 100px;
  margin: auto auto 5px auto;
}
.slider__section img:last-child {
  height: 110px;
  width: 110px;
}

/*content*/
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  height: 650px;
  margin: auto;
}
.content__text {
  box-shadow: 0px 0px 20px 20px #00000020;
  background-color: aliceblue;
  border-radius: 15px;
  width: 500px;
  height: 500px;
  margin: auto;
}
.content__text__title {
  color: #2E669A;
  font-size: 1.8em;
  font-weight: bold;
  margin: 20px auto 0 auto;
}
.content__text h3 {
  width: 90%;
  margin: 20px auto;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
}
.content__text ol {
  margin: 10px auto auto 50px;
}
.content__text ol li {
  margin: 10px auto auto 0;
  cursor: pointer;
  text-align: left;
}
.content__text ol li:hover {
  color: #2E669A;
  border-bottom: 1px solid #2E669A;
}
.content__text .link-btn {
  width: 250px;
  font-size: 18px;
  height: 60px;
  background-color: #2181BE;
  color: white;
  box-shadow: 2px 2px 1px 1px #72b0eb;
  margin: 50px auto;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-family: "Helvetica Neue";
  text-transform: uppercase;
}
.content__text .link-btn:hover {
  background-color: #2E669A;
  font-weight: bold;
}
.content__image {
  width: 500px;
  height: 500px;
  margin: auto 0 auto auto;
  border-radius: 15px;
}

/*main*/
.main {
  display: flex;
  flex-direction: row;
  margin: 20px auto;
}
.main__box {
  margin: 0 20px auto 20px;
  flex: 1;
  border-radius: 30px;
  border: 1px #2E669A solid;
  overflow: hidden;
  height: 680px;
  text-align: center;
}
.main__box h3 {
  color: #2E669A;
  margin: 10px auto 20px auto;
  text-transform: uppercase;
  font-size: 1.2em;
  border-bottom: 1px #2E669A solid;
  width: 80%;
  height: 60px;
  padding-top: 5px;
}
.main__box ul li {
  font-size: 1.2em;
}
.main__box img {
  width: 380px;
  height: 280px;
  border-radius: 30px;
  bottom: 10px;
  margin: 40px auto 40px auto;
}
.main__box p {
  width: 90%;
  margin: 5px auto;
  text-align: justify;
}
.main__box ul {
  margin: 10px auto;
  text-align: left;
}
.main__box li {
  margin: 5px auto;
  display: inline;
  font-size: 1em;
  font-weight: 500;
}
.main__box i {
  margin: auto 5px;
  color: #2E669A;
  font-size: 1.1em;
}

/*testmonies*/
.testimonies {
  display: block;
}
.testimonies h2 {
  text-transform: uppercase;
  margin: 30px auto;
  border-bottom: 3px #2E669A solid;
}
.testimonies__boxes {
  display: flex;
  flex-direction: row;
}
.testimonies__boxes section {
  width: 330px;
  margin: 0 auto 40px auto;
  text-align: left;
}
.testimonies__boxes section p {
  margin: 0 auto;
}

/*footer*/
.footer {
  margin: 0 auto 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 200px;
  background-color: #72b0eb;
  font-size: 1.2em;
  color: white;
}
.footer__text {
  float: left;
  text-transform: uppercase;
  font-size: 0.9em;
  color: black;
  font-weight: bold;
  cursor: pointer;
  margin: 50px auto auto 30px;
}
.footer__text:hover {
  color: white;
}
.footer__bouton {
  display: block;
  width: 60%;
  background-color: #72b0eb;
  border: none;
  text-align: center;
}
.footer__bouton p {
  width: 100%;
  color: black;
  font-size: 1em;
  margin: 20px auto 0 auto;
  text-transform: uppercase;
  font-weight: 400;
}
.footer__bouton .footer-btn-link {
  color: white;
}
.footer__bouton .footer-btn-link .footer-btn {
  width: 200px;
  font-size: 18px;
  height: 60px;
  background-color: #2181BE;
  color: white;
  box-shadow: 2px 2px 1px 1px #72b0eb;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-family: "Helvetica Neue";
  text-transform: uppercase;
  margin-top: 0;
}
.footer__bouton .footer-btn-link .footer-btn:hover {
  background-color: #2E669A;
  font-weight: bold;
}
.footer__disclaimer {
  float: right;
  cursor: pointer;
  margin: 70px 30px auto auto;
}
.footer__disclaimer a {
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}
.footer__disclaimer a:hover {
  color: white;
}

/*page mentions*/
.mentions-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  margin: 100px 150px auto 150px;
  text-align: left;
}
.mentions-container .mentions-title {
  font-size: 1.2em;
  margin: 10px auto;
  text-align: left;
}
.mentions-container .mentions-title .mentions-text {
  text-align: left;
  width: 80%;
  margin: auto 150px auto 250px;
}

/*page de remerciements*/
.thanks-container {
  width: 80%;
  margin: 0 150px auto 150px;
  text-align: center;
  height: 100vh;
  position: absolute;
}
.thanks-container .thanks-section {
  margin: 200px auto 30px auto;
  width: 80%;
  height: 100%;
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
}
.thanks-container .thanks-section .home-btn {
  color: #2E669A;
  margin: 50px auto 30px auto;
  font-size: 1.2em;
  font-weight: 500;
}
.thanks-container .thanks-section .home-btn:hover {
  color: blue;
}

@media screen and (min-width: 1280px) and (max-width: 1440px) {
  .main__box {
    height: 720px;
  }
  .main__box img {
    width: 350px;
  }

  /*page de remerciements*/
  .thanks-container {
    margin: 0 0 200px auto;
    width: 100%;
    height: 100vh;
  }

  /*page mentions*/
  .mentions-container {
    height: 100%;
    margin: 0 auto 0 auto;
    width: 80%;
    padding-top: 50px;
    padding-left: 50px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  body {
    width: 100%;
  }
  body .header {
    flex-direction: column;
    width: 100%;
    margin: auto 0 auto 0;
  }
  body .header__up {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }
  body .header__up__text {
    margin: auto;
    text-align: center;
  }
  body .header__up__text ul {
    margin: 10px auto 0 auto;
  }
  body .header__up .formulaire {
    height: auto;
    min-height: auto;
    overflow: hidden;
    margin: 50px auto;
  }
  body .header__up .formulaire .container-form {
    height: auto;
    min-height: auto;
    overflow: hidden;
  }
  body .header__up .formulaire select {
    height: 100px;
  }
  body .header__bottom h2 {
    margin-top: 20px;
  }
  body .container {
    width: 100%;
    margin: auto;
  }
  body .container .slider {
    width: 100%;
  }
  body .container .content {
    width: 90%;
    height: 550px;
    margin: auto auto 20px auto;
  }
  body .container .main__box {
    margin: auto 10px auto 10px;
    height: 850px;
  }
  body .container .main__box img {
    width: 300px;
    height: 300px;
  }
  body .container .testimonies__boxes section {
    width: 310px;
  }
  body .container .foooter {
    height: auto;
  }
  body .container .foooter .footer__bouton {
    width: 50%;
  }

  /*page de remerciements*/
  .thanks-container {
    margin: 0 0 200px auto;
    width: 100%;
    height: 100vh;
  }

  /*page mentions*/
  .mentions-container {
    height: 100%;
    margin: 0 auto 0 auto;
    width: 80%;
    padding-top: 50px;
    padding-left: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    width: 100%;
    margin: auto;
  }
  body .top {
    height: auto;
  }
  body .top h1 {
    height: 80px;
  }
  body .header {
    flex-direction: column;
    width: 100%;
    margin: auto 0 auto 0;
  }
  body .header__up {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }
  body .header__up__text {
    margin: auto;
    text-align: center;
  }
  body .header__up__text__image {
    width: 500px;
  }
  body .header__up__text ul {
    margin: 10px auto 0 auto;
  }
  body .header__up .formulaire {
    height: auto;
    min-height: auto;
    overflow: hidden;
    margin: 50px auto;
  }
  body .header__up .formulaire .container-form {
    height: auto;
    min-height: auto;
    overflow: hidden;
  }
  body .header__up .formulaire select {
    height: 100px;
  }
  body .header__bottom h2 {
    margin-top: 20px;
  }
  body .header__bottom h2__list .logo {
    margin-top: 5px;
  }
  body .container .slider {
    flex-direction: column;
    height: 1250px;
    text-align: center;
    margin: 10px auto 20px auto;
  }
  body .container .slider__section {
    width: 300px;
    margin: 10px auto;
    height: 380px;
  }
  body .container .slider__section p {
    text-align: left;
    margin: auto;
  }
  body .container .slider__section i {
    margin: auto auto 5px auto;
  }
  body .container .content {
    flex-direction: column-reverse;
    height: 900px;
  }
  body .container .content img {
    margin: 50px auto;
    width: 500px;
    height: 350px;
  }
  body .container .content__text {
    margin: auto;
    width: 520px;
  }
  body .container .main {
    flex-direction: column;
  }
  body .container .main__box {
    width: 80%;
    margin: 20px auto;
  }
  body .container .main img {
    width: 550px;
    height: 280px;
  }
  body .container .testimonies {
    flex-direction: column;
  }
  body .container .testimonies__boxes {
    flex-direction: column;
    margin: 20px auto;
  }
  body .container .testimonies__boxes section {
    margin: 15px auto auto 50px;
  }
  body .container .testimonies__boxes section p {
    width: 600px;
    margin: auto 30px;
  }
  body .container .footer {
    flex-direction: column;
    height: 400px;
  }
  body .container .footer__text {
    margin: auto auto 30px auto;
  }
  body .container .footer__bouton {
    width: 80%;
    margin: auto auto 0 auto;
  }
  body .container .footer__bouton .footer-btn-link {
    margin: auto;
  }
  body .container .footer__bouton .footer-btn-link .footer-btn {
    margin: auto;
  }
  body .container .footer__disclaimer {
    margin: 30px auto;
  }

  /*page remerciements*/
  .thanks-container {
    height: 100vh;
    width: 100%;
    margin: 0;
  }

  /*page mentions*/
  .mentions-container {
    width: 100%;
    margin: 0;
    text-align: left;
    height: 100vh;
  }
  .mentions-container .mentions-title {
    font-size: 1.2em;
    margin: 10px auto;
    text-align: left;
  }
  .mentions-container .mentions-title .mentions-text {
    text-align: left;
    width: 80%;
    margin: 20px auto 50px auto;
  }
}
@media screen and (min-width: 350px) and (max-width: 767px) {
  body {
    width: 100%;
    /*page remerciements*/
    /*page mentions*/
  }
  body .top {
    height: auto;
    width: 100%;
  }
  body .top h1 {
    width: 100%;
    font-size: 1.4em;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    margin: 0;
  }
  body ul li {
    width: 80%;
    margin: auto;
  }
  body .header {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
  body .header__up {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    margin: 0;
    width: 100%;
  }
  body .header__up__text {
    margin: 0;
    text-align: left;
    width: 100%;
  }
  body .header__up__text img {
    width: 250px;
    height: 300px;
    margin: auto;
    display: none;
  }
  body .header__up__text ul {
    width: 90%;
    margin: 20px auto auto 30px;
    height: auto;
    display: table;
  }
  body .header__up__text ul li {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
  }
  body .header__up__text ul li i {
    margin: 0 5px;
  }
  body .header__up__text ul li p {
    margin: 0 5px;
    width: 100%;
    color: black;
    font-size: 1em;
  }
  body .header__up .formulaire {
    height: auto;
    min-height: auto;
    overflow: hidden;
    margin: 20px auto;
    width: 370px;
  }
  body .header__up .formulaire .container-form {
    height: auto;
    min-height: auto;
    overflow: hidden;
  }
  body .header__up .formulaire .page {
    width: 100%;
    margin: 0;
  }
  body .header__up .formulaire .progress-bar {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  body .header__up .formulaire .form-outer {
    width: 100%;
    margin: auto;
  }
  body .header__up .formulaire .form {
    width: 100%;
    margin: 0;
  }
  body .header__up .formulaire .form-title {
    font-size: 1.4em;
  }
  body .header__up .formulaire .form-outer form .page .field {
    width: 100%;
  }
  body .header__bottom h2 {
    margin-top: 20px;
    font-size: 2em;
  }
  body .header__bottom__list {
    flex-direction: column;
    height: auto;
    margin: 0 auto;
  }
  body .header__bottom__list .logos {
    width: 100px;
    height: 100px;
    margin: 15px auto;
  }
  body .container {
    width: 100%;
  }
  body .container .slider {
    flex-direction: column;
    height: 1400px;
    margin: 10px auto;
    width: 100%;
  }
  body .container .slider__section {
    width: 300px;
    height: 400px;
    margin: 15px auto;
  }
  body .container .content {
    height: 860px;
    flex-direction: column-reverse;
    margin: 20px auto;
    width: 100%;
  }
  body .container .content__text {
    margin: 30px auto;
    width: 320px;
    height: auto;
  }
  body .container .content__image {
    margin: 0 auto;
    width: 300px;
    height: 250px;
  }
  body .container .main {
    flex-direction: column;
    width: 100%;
    margin: auto;
    height: auto;
  }
  body .container .main__box {
    margin: 20px auto;
    width: 90%;
    height: 1200px;
  }
  body .container .main__box img {
    width: 300px;
    height: 250px;
    margin: 20px auto;
  }
  body .container .main__box h2 {
    width: 80%;
    margin: auto;
  }
  body .container .testimonies {
    padding-bottom: 10px;
  }
  body .container .testimonies h3 {
    font-size: 1.1em;
  }
  body .container .testimonies__boxes {
    flex-direction: column;
  }
  body .container .testimonies__boxes section {
    width: 90%;
    margin: 15px auto 30px auto;
  }
  body .container .footer {
    flex-direction: column;
    text-align: center;
    height: auto;
  }
  body .container .footer__text {
    margin: 10px auto;
  }
  body .container .footer__bouton {
    width: 90%;
    margin: 20px auto;
  }
  body .container .footer__bouton p {
    margin: auto;
    width: 100%;
  }
  body .container .footer__disclaimer {
    margin: 30px auto 20px auto;
  }
  body .thanks-container {
    height: 100vh;
    width: 100%;
    margin: 0;
  }
  body .thanks-container .thanks-section {
    height: 100vh;
    width: 100%;
    padding-top: 20px;
  }
  body .mentions-container {
    width: 100%;
    margin: 0;
    text-align: left;
    height: 100vh;
  }
  body .mentions-container .mentions-title {
    font-size: 1.2em;
    margin: 10px auto;
    text-align: left;
  }
  body .mentions-container .mentions-title .mentions-text {
    text-align: left;
    width: 80%;
    margin: 20px auto 50px auto;
  }
}

/*# sourceMappingURL=style.css.map */
