@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
ul li {
  list-style: none;
}

h2 {
  font-size: 0.9em;
  margin-top: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  /*
  background: url("bg.png"), -webkit-linear-gradient(bottom, #0250c5, #d43f8d);*/
}

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.formulaire {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  box-shadow: 0px 0px 20px 20px #00000020;
  background-color: aliceblue;
  border-radius: 15px;
}

::selection {
  color: #fff;
}

.container-form {
  width: 330px;
  text-align: center;
  border-radius: 30px;
  padding: 50px 35px 10px 35px;
  height: 90vh;
  float: right;
}

.container-form h2 {
  font-size: 35px;
  font-weight: 600;
  margin: 0 0 30px 0;
}

.container-form .form-outer {
  width: 100%;
  overflow: hidden;
}

.container-form .form-outer form {
  display: flex;
  width: 400%;
}

.form-outer form .page {
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}

.form-outer form .page .title {
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}

.form-outer form .page .field {
  width: 330px;
  height: 45px;
  margin: 45px 0;
  display: flex;
  position: relative;
}

form .page .field .label {
  position: absolute;
  top: -30px;
  font-weight: 500;
}

form .page .field input {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 18px;
}

form .page .field select {
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  font-weight: 500;
}

form .page .field button {
  width: 100%;
  height: calc(100% + 5px);
  border: none;
  background: #d33f8d;
  margin-top: -20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s ease;
}

form .page .field button:hover {
  background: #000;
}

form .page .btns button {
  margin-top: -20px !important;
}

form .page .btns button.prev {
  margin-right: 3px;
  font-size: 17px;
}

form .page .btns button.next {
  margin-left: 3px;
}

.container-form .progress-bar {
  display: flex;
  margin: 40px 0;
  user-select: none;
}

.container-form .progress-bar .step {
  text-align: center;
  width: 100%;
  position: relative;
}

.container-form .progress-bar .step p {
  font-weight: 500;
  font-size: 18px;
  color: #000;
  margin-bottom: 8px;
}

.progress-bar .step .bullet {
  height: 25px;
  width: 25px;
  border: 2px solid #000;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  transition: 0.2s;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
}

.progress-bar .step .bullet.active {
  border-color: #d43f8d;
  background: #d43f8d;
}

.progress-bar .step .bullet span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.progress-bar .step .bullet.active span {
  display: none;
}

.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after {
  position: absolute;
  content: "";
  bottom: 11px;
  right: -51px;
  height: 3px;
  width: 44px;
  background: #262626;
}

.progress-bar .step .bullet.active:after {
  background: #d43f8d;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after {
  display: none;
}

.progress-bar .step p.active {
  color: #d43f8d;
  transition: 0.2s linear;
}

.progress-bar .step .check {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
}

.progress-bar .step .check.active {
  display: block;
  color: #fff;
}

.header {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  margin: 50px auto;
  background-color: blanchedalmond;
  /*
  background-image: url("assets/images/img2.jpeg");
  */
}

.header__text h1 {
  margin: 50px auto 0 auto;
  font-size: 1.1em;
  text-align: left;
}
.header__text ul {
  margin: 100px auto auto 0;
  text-align: left;
}
.header__text ul li {
  margin: 5px auto auto 0;
  display: flex;
  flex-direction: row;
}
.header__text ul li i {
  color: green;
  font-size: 1.3em;
}
.header__text p {
  margin: auto 10px;
}

/*main*/
.main {
  display: flex;
  flex-direction: row;
  margin: 20px auto;
}
.main__box {
  margin: 0 20px auto 20px;
  flex: 1;
  border-radius: 30px;
  border: 1px #2E669A solid;
  overflow: hidden;
  color: black;
  background-color: #ECEFF0;
  height: 600px;
  text-align: center;
}
.main__box h3 {
  color: #2E669A;
  margin: 10px auto 20px auto;
  text-transform: uppercase;
  font-size: 1.1em;
  border-bottom: 1px #2E669A solid;
  width: 100%;
  height: 60px;
  padding-top: 5px;
}
.main__box img {
  width: 250px;
  height: 250px;
  border-radius: 30px;
  bottom: 10px;
  margin: 40px auto 40px auto;
}
.main__box p {
  width: 90%;
  margin: 5px auto;
  text-align: justify;
}
.main__box ul {
  margin: 10px auto;
  text-align: left;
}
.main__box li {
  margin: 5px auto;
  display: inline;
}
.main__box i {
  margin: auto 5px;
  color: #2E669A;
  font-size: 1.1em;
}

/*content*/
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 700px;
  margin: auto;
}
.content__testimonies {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 20px auto auto 20px;
}
.content__testimonies__title {
  margin: 30px auto 20px auto;
  color: #2E669A;
  border-bottom: #2E669A 1px solid;
}
.content__testimonies__boxes {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 0;
}
.content__testimonies__boxes section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
  margin: 20px;
}
.content__testimonies__boxes section p {
  margin: auto;
}
.content__testimonies__boxes section span {
  font-weight: bold;
  margin: 5px auto auto 0;
}
.content__testimonies__boxes ul {
  margin: 5px auto auto 0;
}
.content__testimonies__boxes ul li {
  display: inline;
  margin: auto 0;
}
.content__text {
  box-shadow: 0px 0px 20px 20px #00000020;
  background-color: aliceblue;
  border-radius: 15px;
  width: 450px;
  height: 500px;
  margin: 100px auto;
}
.content__text__title {
  color: #2E669A;
  margin: 20px auto 0 auto;
  font-weight: bold;
  font-size: 1.8em;
}
.content__text h3 {
  width: 90%;
  margin: 20px auto;
  font-weight: bold;
}
.content__text ol {
  margin: 10px auto auto 50px;
}
.content__text ol li {
  margin: 10px auto auto 0;
  cursor: pointer;
  text-align: left;
}
.content__text ol li:hover {
  color: #2E669A;
  border-bottom: 1px solid #2E669A;
}
.content__text .link-btn {
  width: 250px;
  font-size: 18px;
  height: 60px;
  background-color: #2181BE;
  color: white;
  box-shadow: 2px 2px 1px 1px #72b0eb;
  margin: 50px auto;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  font-family: "Helvetica Neue";
}
.content__text .link-btn:hover {
  background-color: #2E669A;
  font-weight: bold;
}

/*slider*/
.slider {
  margin: 60px auto;
  height: 400px;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}
.slider__section {
  width: 250px;
  height: 300px;
  border-radius: 15px;
  border: 1x blue solid;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  margin: auto 20px auto 20px;
  text-align: justify;
  padding-top: 5px;
  text-align: center;
  box-shadow: 2px 2px 2px 2px #2b3641;
}
.slider__section h3 {
  color: black;
  width: 80%;
  font-size: 1.2em;
  margin: 10px auto;
  border-bottom: 5px black solid;
}
.slider__section p {
  margin: 10px auto;
  width: 90%;
}
.slider__section i {
  color: black;
  font-size: 3.5em;
}

/*# sourceMappingURL=style.css.map */
